* { padding: 0; margin: 0; }
#directory-list { font-size: small; }
#directory-list a { color: inherit; text-decoration: inherit; }
#directory-list a:hover { text-decoration: underline; }
#directory-list .dir, #directory-list .track { background-repeat: no-repeat; padding-left: 20px; }
#directory-list .dir { background-image: url('/static/icons/folder.png'); }
#directory-list .track { background-image: url('/static/icons/music.png'); }
