* { padding: 0; margin: 0; }
.ui-tabs-nav li a { font-size: small; }
#progress { margin: .5em 1em; width: 300px; }
#directory-list, #playlist { font-size: small; }
#directory-list a, #playlist a { color: inherit; text-decoration: inherit; }
#directory-list a:hover, #playlist a:hover { text-decoration: underline; }
#directory-list .dir, #directory-list .track, #playlist a.play { background-repeat: no-repeat; padding-left: 20px; }
#directory-list .dir { background-image: url('/static/icons/folder.png'); }
#directory-list .track { background-image: url('/static/icons/music.png'); }
#directory-list .nocache, #playlist .nocache a.play { background-image: url('/static/icons/music_nocache.png'); }
#directory-list { list-style-type: none; }
#playlist .playing a.play { background-image: url('/static/icons/music_playing.png'); }
#playlist .loading a.play { background-image: url('/static/icons/loading.gif'); }
#playlist { border-collapse: collapse; background: white; width: 100%; }
#playlist tr td:first-child { width: 100%; }
#playlist td { padding: .3em; background: white; border: 1px solid #ddd; border-width: 0 1px; }
#playlist tr:last-child td { border-bottom-width: 1px; }
#playlist th { background: #ddd; text-align: left; padding: .5em; }
