* { padding: 0; margin: 0; }
html, body, #content { height: 100%; }
#tabs { height: 90%; }

.ui-tabs-nav li a { font-size: small; }
#tabs #albums-tab.ui-tabs-panel { padding: 0; }
#progress { margin: .5em 1em; width: 300px; }
#tabs { font-size: 100%; }

.accessor { text-decoration: underline; }

.track-table { width: 100%; }
.track-table tr:nth-child(odd) td { background: #eee; }
.track-table tr:nth-child(even) td { background: #ddd; }
.track-table tr.ui-selected td { background-color: #fea; }
.track-table tr:hover td { background-color: #fbb; }

.track-table a { color: inherit; text-decoration: inherit; background-repeat: no-repeat; padding-left: 20px; display: block; }
.track-table a:hover { text-decoration: underline; }
.track-table .dir { background-image: url('/static/icons/folder.png'); }
.track-table .track { background-image: url('/static/icons/music.png'); }
.track-table .track.nocache { background-image: url('/static/icons/music_nocache.png'); }

#playlist .playing a.play { background-image: url('/static/icons/music_playing.png'); }
#playlist .loading a.play { background-image: url('/static/icons/loading.gif'); }
#playlist tr td.track-buttons { width: 1em; }

#search_box { border: 1px solid #888; border-radius: 10px; padding: 0 .3em; }
#search-results { margin-top: 1em; }

#albums-tab { height: 95%; }
#albums-list { overflow: auto; max-height: 100%; }
.album-tile { width: 128px; display: inline-block; vertical-align: top; padding: 1em; }
.album-tile a { text-decoration: none; }
.album-tile a:hover { text-decoration: underline; }
.album-tile .album-name { font-size: x-small; }
